.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  transition-timing-function: ease-in;
  transition: all 1s;

}

.nav__black {
  background-color: #111111;

}